@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime

<button type="button" id="copyButton" class="btn btn-primary" @onclick="CopyTextToClipboardAsync" @attributes="AdditionalAttributes" disabled="@Disabled"><span class="iconify" data-icon="oi-file" data-inline="false" title="@GetRes(Res.ButtonTitleCopy, 20)" /></button>

@code {

	[Parameter] public bool Disabled { get; set; }
	[Parameter] public string? Text { get; set; }
	[Parameter] public Func<Task<string>>? OnCopyAsync { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

	private async Task CopyTextToClipboardAsync()
	{
		if (OnCopyAsync is null) return;

		var result = await OnCopyAsync();
		if (result != null)
			Text = result;

		await JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", TimeSpan.FromMilliseconds(100), Text!, GetRes(Res.AlertCopiedToClipboard, 20));
	}
}