@attribute [Route(PageUris.Awesome)]
@inherits ContentIdMarkupBase

Propose a new list entry either in the <a href="https://forum.xeth.de/viewtopic.php?f=8&t=11" target=_>forum</a> or via <a href="mailto:evermore@SECRETOFxeth.de?Subject=Awesome%20SoE%20link%20suggestion">email</a> by removing the SECRETOF part.

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = PageUris.Awesome;
}
