@using WebApp.SoE.Helpers

@attribute [Route(PageUris.Changelog)]
@attribute [Route(PageUris.ChangelogConsole)]
@inherits AutoLangContentIdMarkupBase

@if (ShowAutoTranslateOption)
{
	<TranslateButton @bind-Value="@AutoTranslate" />
}

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = PageUris.ChangelogConsole.Substring(1);
}
