@attribute [Route(PageUris.GuideSnes9x)]
@inherits LangContentIdMarkupBase

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = PageUris.GuideSnes9x;
}