@attribute [Route(PageUris.GuideSavestate)]
@inherits LangContentIdMarkupBase

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = PageUris.GuideSavestate;
}