@using WebApp.SoE.Helpers

@attribute [Route(PageUris.GuideSrm)]
@inherits LangContentIdMarkupBase

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = PageUris.GuideSrm.Substring(1);
}