@using WebApp.SoE.Helpers

@attribute [Route(PageUris.Guide)]
@inherits LangContentIdMarkupBase

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = nameof(PageUris.Guide);
}