@using WebApp.SoE.Helpers

@attribute [Route(PageUris.Manual)]
@inherits LangContentIdMarkupBase

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = nameof(PageUris.Manual);
}