@attribute [Route(PageUris.Prerequisites)]
@inherits LangContentIdMarkupBase

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = PageUris.Prerequisites;
}
