@attribute [Route(PageUris.RosettaStone)]
@inherits AutoLangContentIdMarkupBase

@if (ShowAutoTranslateOption)
{
	<TranslateButton @bind-Value="@AutoTranslate" />
}

@Res.LabelTooltipProjectStatus @ExplorationStatusHelper.GetExplorationStatus()

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = PageUris.RosettaStone;
}
