@using WebApp.SoE.Helpers

@attribute [Route(PageUris.Sources)]
@inherits AutoLangContentIdMarkupBase

@if (ShowAutoTranslateOption)
{
	<TranslateButton @bind-Value="@AutoTranslate" />
}

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = (nameof(PageUris.Sources));
}
