@attribute [Route(PageUris.Tutorials)]
@inherits AutoLangContentIdMarkupBase

@if (ShowAutoTranslateOption)
{
	<TranslateButton @bind-Value="@AutoTranslate" />
}

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = PageUris.Tutorials;
}