@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.markup ::deep {
	box-sizing: content-box;
}

html, body {
	font-family: monospace;
	background-color: #111111;
}

/* H1-5 */

h1 {
	color: turquoise;
}

h2 {
	color: olivedrab;
}

h3 {
	color: lightseagreen;
}

h4 {
	color: forestgreen;
}

h5 {
	color: steelblue;
}

/* H1-5 */

a {
	color: cyan;
}

a:visited {
	color: steelblue;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.content h1, h2 {
	margin-top: 15px;
}

.content h3, h4 {
	margin-top: 30px;
}

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#blazor-error-ui .dismiss {
	cursor: pointer;
	position: absolute;
	right: 0.75rem;
	top: 0.5rem;
}

.header {
	color: yellow;
}