@page "/BrowserCheck"

@using ViewModels
@using WebApp.SoE.Helpers
@namespace WebApp.SoE.Pages

@model BrowserRedirectViewModel

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="image/x-icon" href="media/SoE.ico" />
</head>
<body>
</body>
</html>
