<title>SRAM Comparer (Download)</title>

<div class="mainDiv">
	<p style="color:grey">
		@Res.SramComparer @Res.OpenSourceInfoFragment <a href="https://github.com/CleanCodeX/SramComparer.SoE" target="_">GitHub</a>.
	</p>

	@ReadMeContent
</div>