@attribute [Route(PageUris.Index)]
@inherits AutoLangContentIdMarkupBase

<h1 class="welcome">@Res.LabelIndexTitle</h1>

<p /><p />

@if (ShowAutoTranslateOption)
{
	<TranslateButton @bind-Value="@AutoTranslate" />
}

<div class="markup">
	@Content
</div>

@code {
	protected override void OnParametersSet() => ContentId = nameof(PageUris.Goals);
}

