<title>SRAM Comparer (Download)</title>

@using SramComparer.Server.Extensions
@inherits MarkupContentBase

<div class="mainDiv">
	<p>
		@Res.SramComparer @Res.OpenSourceInfoFragment <a href="@Settings.Urls.GetValue("github")" target="_">GitHub</a>.
	</p>

	@Content
</div>