<img src="media/banner.png" class="header blur"  />

<div class="project">
	<img src="media/project.png" class="blur" id="projectBanner" title="@Res.LabelTitleProjectName" />
	<StatusDisplay />
</div>