@using RosettaStone.Sram.SoE.Extensions

<a href="/">
	<img src="media/banner.png" class="header blur" title="@TooltipRandomizer.NextTooltip()" />
</a>

<div class="project">
	<a href="@PageUris.RosettaStone">
		<img src="media/project.png" class="blur" id="projectBanner" title="@GetTooltip()" />
	</a>
	<ExplorationStatusDisplay />
</div>

@code{

	private readonly Random Random = new();

	private string GetTooltip() => Random.NextInclusive(1, 5) == 1 
		? ResHidden.LabelTooltipCrypticSymbols /* 20% chance */
		: TooltipRandomizer.NextTooltip();
}
