<a href="/">
	<img src="media/banner.png" class="header blur" title="@TooltipRandomizer.NextTooltip()" />
</a>

<div class="project">
	<a href="@PageUris.RosettaStone">
		<img src="media/project.png" class="blur" id="projectBanner" title="@TooltipRandomizer.NextTooltip()" />
	</a>
	<StatusDisplay />
</div>
