<a href="/">
	<img src="media/banner.png" class="header blur"  />
</a>

<div class="project">
	<a href="/">
		<img src="media/project.png" class="blur" id="projectBanner" title="@Res.LabelTitleProjectName" />
	</a>
	<StatusDisplay />
</div>
