@using RosettaStone.Sram.SoE.Extensions

<a href="@PageUris.Home">
	<img src="media/banner.png" class="header blur" title="@TooltipRandomizer.NextTooltip()" />
</a>

<div>
	<a href="@PageUris.RosettaStone">
		<img src="media/project.png" class="project blur" title="@CrypticTooltipRandomizer.GetTooltip()" />
	</a>
	<ExplorationStatusDisplay />
</div>
