.page {
	color: lightgray;
}

.main {
	display: -webkit-box;
}

.main .top-row > a, .main .top-row .btn-link {
	white-space: nowrap;
	margin-left: 1.5rem;
}

.main .top-row a:first-child {
	overflow: hidden;
	text-overflow: ellipsis;
}

.content {
	padding: 1rem;
	font-size: 1.3rem;
	width: 1000px;
}

.sidebar {
	box-sizing: content-box;
}

.navmenu {
	min-height: 494px;
	padding-top: 15px;
	background-image: linear-gradient(360deg, rgb(5, 39, 103) 0%, #111111 70%);
	height: -webkit-fill-available;
}

.sidebar .nav-item a.active {
	background-color: rgba(255,255,255,0.25);
	color: lightskyblue;
}

.sidebar .nav-item a:hover {
	background-color: rgba(255,255,255,0.1);
	color: yellowgreen;
}

.sidebar .nav-item a.active:hover {
	color: yellowgreen;
}

.sidebar li.px-3 {
	font-size: 1.0em;
}

.sidebar li.px-4, .sidebar li.px-5 {
	visibility: hidden;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
}

.sidebar ul.selectedMenuArea li.px-4, .sidebar ul.selectedMenuArea li.px-5 {
	display: block;
	visibility: visible;
	height: auto;
	width: auto;
	font-size: 0.9em;
}

.sidebar ul.selectedMenuArea > li.px-3 > a {
	color: lightskyblue;
	font-weight: bold;
}

.top-row ::deep a, .top-row .btn-link {
	white-space: nowrap;
	margin-left: 1.5rem;
}

.top-row a:first-child {
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 767.98px) {
	.top-row a, .top-row .btn-link {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.page {
		flex-direction: row;
	}

	.sidebar {
		min-width: 280px;
		position: sticky;
	}

	.top-row {
		position: sticky;
	}

	.main > div {
		padding-right: 1.5rem !important;
	}
}