.quicklinks {
	margin-left: 10px;
	margin-right: 10px;
}

.discord {
	width: 18px;
	height: 19px;
}

.github {
	width: 18px;
	height: 19px;
}

.firstRow {
	margin-top: 10px;
}

.oi-zoom-in {
	color: darkcyan;
}

.oi-zoom-out {
	color: cyan;
}

.oi {
	width: 2rem;
	font-size: 1.1rem;
	top: -2px;
}

.nav-item {
	font-size: 1.4rem;
	inline-size: max-content;
}

.nav-item ::deep a {
	color: #d7d7d7;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.nav-item ::deep a.active {
	background-color: rgba(255,255,255,0.25);
	color: white;
}

.nav-item ::deep a:hover {
	background-color: rgba(255,255,255,0.1);
	color: white;
}

@media (min-width: 900px) {
	.collapse {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}
}